<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> 
     A propos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <a href="appartment1">
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2018/05/25/17/52/home-3429674_960_720.jpg" />
      </a>
    <ion-card-header>
      <ion-card-title>Maison canapé salon</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <a href="appartment2" >
         <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2017/07/09/03/19/home-2486092_1280.jpg" />
      </a>
        <ion-card-header>
      <ion-card-title>Maison l'interieur cuisine</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <a href="appatment3">
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2016/06/24/10/47/house-1477041_1280.jpg" />
       </a>
    <ion-card-header>
      <ion-card-title>Maison picine</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <a href="appartment4">
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2014/07/10/17/17/bedroom-389254_1280.jpg" />
       </a>
    <ion-card-header>
      <ion-card-title>Chambre à coucher design l'intérieur</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <a href="appartment5">
    <img alt="Silhouette of mountains" src="https://cdn.pixabay.com/photo/2014/07/10/17/18/large-home-389271_1280.jpg" />
        </a>
    <ion-card-header>
      <ion-card-title>Grande maison Résidentiel</ion-card-title>
      <ion-card-subtitle>     luxe    </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

</ion-content>
