<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>appartment1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">appartment1</ion-title>
      <p>What is the error in src refspec?
        This error message usually indicates that the branch you're attempting to push does not exist. This could happen if you neglect to create an initial commit on a given branch, after you change the name of a branch, or if you misspell the branch name.15 mars 2023</p>
    </ion-toolbar>
  </ion-header>
</ion-content>
